.header {
    border-bottom: 1px solid #E6E6E6;
    width: 100%;
    display: flex;
    .partner-text {
      margin: 20px 10px;
      font-weight: 400;
      font-style: normal;
      font-family: 'Newsreader';
      letter-spacing: -0.02em;
      font-size: 64px;
    }
    .number-items {
      margin: 30px 40px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 130%;
      display: flex;
      align-items: flex-end;

      color: #000000;
    }
  }